#passwordInserter {
    background-color: #F9F6F0;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: groove;
    border-bottom-width: thin;
}